@import url(https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap);
.custom-tooltip {
  min-width: 320px;
  font-size: 15px;
  animation: 0.7s show ease;
  font-family: "Bad Script", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
.custom-tooltip .welcome-block {
  min-height: 120px;
  background-image: url("/images/welcome_block_background.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.custom-tooltip .introjs-tooltiptext {
  text-align: justify;
}
.custom-tooltip .introjs-bullets {
  margin-bottom: 0.7rem;
}
.custom-tooltip .introjs-bullets ul li:not(:last-child) {
  margin-right: 5px;
}
.custom-tooltip .introjs-bullets ul li a {
  width: 0.8rem;
  height: 0.8rem;
}
.custom-tooltip .introjs-tooltipbuttons .introjs-button {
  box-shadow: 1px 1px 1px black;
  font-size: 0.85rem;
  font-weight: 700;
  border-radius: 6px;
  border: none;
  text-shadow: 1px 1px 1px black;
  color: whitesmoke;
}
.custom-tooltip .introjs-tooltipbuttons .introjs-skipbutton {
  margin-right: 14px;
  background: #a10000;
  opacity: 0.8;
  transition: opacity 0.3s ease-in;
}
.custom-tooltip .introjs-tooltipbuttons .introjs-skipbutton:hover {
  opacity: 1;
}
.custom-tooltip .introjs-tooltipbuttons .introjs-prevbutton {
  margin-right: 7px;
}
.custom-tooltip .introjs-tooltipbuttons .introjs-prevbutton,
.custom-tooltip .introjs-tooltipbuttons .introjs-nextbutton {
  transition: all 0.3s ease-in;
  color: #000000;
  text-shadow: 1px 1px 1px whitesmoke;
}
.custom-tooltip .introjs-tooltipbuttons .introjs-prevbutton:hover,
.custom-tooltip .introjs-tooltipbuttons .introjs-nextbutton:hover {
  color: whitesmoke;
  text-shadow: 1px 1px 1px #000000;
  background: #5D76CB;
}

.first-slide {
  background-color: #C5D0E6;
  min-width: 420px;
}
.first-slide .introjs-tooltiptext {
  box-sizing: border-box;
  padding: 0 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  color: #121212;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
