#app {
    width:100%;
    max-width: 1280px;
    margin:0 auto;
}

.header_top {
    background-color: #f5f7fa;
    border-bottom: 1px solid #e6e9ed;
    padding: 15px 0;
}
.header_top_wrapper{
    display: flex;
}

.header_top_contacts a{
    color: #506a85;
    text-decoration: none;
}

.header_top_contacts a:not(:first-child){
    margin-left: 30px;
}

.header_top_contacts .ico {
    display: inline-block;
    margin-right: 10px;
}

.header_top_social .ico{
    display: inline-block;
    margin-right: 10px;
}

.header_top_social > a:not(:first-child){
    margin-left: 15px;
}

.header_bot{
    padding: 35px 0;
}
.header_bot_wrapper{
    display:flex;
    align-items: center;
}
.nav{
    margin-left:80px;
}
.nav ul{
    display:flex;
    list-style: none;
}

.nav a{
    color: #506a85;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.nav li:not(:last-child){
    margin-right: 40px;
}

.promo {
    background-color: #5d7691;
    background-color: #F9D9EB;;
    height: 800px;

}

.promo > .container,
.promo_wrapper {
    height: 100%;
}

.promo_wrapper {
    display:flex;
    align-items: center;;
}

.promo_content{
    text-align:center;
}

.promo_content h3 {
    font-size: 78px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.promo_content p {
    color: #a3b1bf;
    font-size: 24px;;
}

.promo_content .button_order {
    color: #fff; /*#a3b1bf;*/
    margin-top: 60px;
}

.section{
    padding: 100px 0;
}

.section h2{
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.section .container > p{
    font-size: 22px;
    
    text-align: center;
    margin-bottom: 50px;
}

.advantages, .contacts{
    background-color: #fff;
    
}

.advantages_list {
    margin-top: 80px;
    display: flex;

}

.advantages_item {
    flex: 1 1;
    background-repeat: no-repeat;
    
}

.advantages_item:not(:last-child) {
    margin-right: 50px;;

}

.advantages_item h3{
    font-size: 26px;
    margin-bottom: 35px;

}

.advantages_item a{
    font-size: 24px;;

}

.advantages_item:nth-child(1){
    background-image: url(../images/icon-heart-empty-1.png);
    padding-left: 90px;;
}

.advantages_item:nth-child(2){
    background-image: url(../images/icon-lamp.png);
    padding-left: 76px;;
}

.advantages_item:nth-child(3){
    background-image: url(../images/icon-star-empty-1.png);
    padding-left: 86px;;
}

.portfolio {
    background-color: #f2f5f7;
}

.portfolio_list {
    margin-top: 140px;
    display: flex;
}

.portfolio_item {
    flex: 1 1;
}

.portfolio_item:not(:last-child) {
    margin-right:30px;
}

.portfolio_item img{
    width: 100%;
}

.portfolio_item .title {
    background-color: #fff;
    border-left: 1px solid #e6e9ed;
    border-bottom: 3px solid #e6e9ed;
    padding: 35px 0;
    border-radius: 3px;
    text-align: center;
    margin-top: -7px;
}

.portfolio_item .title a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #506a85;
    margin-bottom: 15px;
}

.contacts .button_order {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}