.backlog_wrapper {
  font-family: "Roboto", sans-serif;
}
.backlog_wrapper .backlog_item-header::after {
  font-size: 44px;
  top: 0 !important;
}
.backlog_wrapper .backlog_item-header > ul {
  display: grid;
  grid-template-columns: 1fr 5fr 100px;
  padding: 15px 30px 0 30px;
  justify-content: center;
  align-items: center;
}
.backlog_wrapper .backlog_item-header > ul > li {
  margin: 0;
}
.backlog_wrapper .backlog_item-header > ul .backlog_date {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.backlog_wrapper .backlog_item-header > ul .backlog_title {
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  grid-column-gap: 15px;
}
.backlog_wrapper .backlog_item-header > ul .backlog_title .backlog_code-wrapper {
  min-width: 80px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.backlog_wrapper .backlog_item-header > ul .backlog_title .backlog_title-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 19px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #282828;
}
.backlog_wrapper .backlog_item-body {
  padding: 0 30px 15px 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 30px;
  justify-content: center;
  align-items: center;
}
.backlog_wrapper .backlog_item-body .backlog_item-body-text {
  color: #282828;
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
}
.backlog_wrapper .backlog_item-body .backlog_item-body-buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.backlog_customBtn {
  display: block;
  width: 125px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #282828;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  text-transform: uppercase;
}
.backlog_customBtn > span {
  position: relative;
  z-index: 2;
  font-size: 18px;
  font-weight: bold;
}
.backlog_customBtn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.35s;
}
.backlog_customBtn.backlog_edit-button:after {
  background: #6495ED;
}
.backlog_customBtn.backlog_delete-button:after {
  background: #FF0000;
}
.backlog_customBtn:hover {
  color: #fff;
  text-decoration: none;
}
.backlog_customBtn:hover:after {
  width: 100%;
}
