body {
    font-family: "Roboto", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

.settings-table-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 25px;

    .settings-table-tabs-wrapper {
        min-width: 150px;

        #v-pills-tab {
            gap: 5px;

            a[role="tab"] {
                text-align: center;
            }
        }

    }
}

#infoModal .modal-dialog,
#noteModal .modal-dialog,
#updateModal .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.personal-settings-wrapper {

    .card {
        box-shadow: 1px 1px 4px #C0C0C0;
    }

    .personal-settings-title {
        text-align: center;
    }
    .personal-settings-card-body {
        width: 80%;
        margin: 0 auto;

        .form-row {
            justify-content: center;
        }
    }
}

.personal-settings-label-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .personal-settings-label {
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
    }
}

.personal-settings-select {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.03);

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.saved-tasks-table {
    box-shadow: 0 5px 12px rgba(0, 0, 0, .2);

    th, td {
        text-align: center;
        word-break: break-all;
        vertical-align: middle !important;
    }

    .saved-tasks-table-head {
        font-size: 1rem;
        text-shadow: 1px 1px 1px black;

        th {
        //    border: none;
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
    }

    tbody {
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr {
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                background-color: #d9d9d9 !important;
            }
        }

        .btn:focus,
        .btn:active {
            outline: none;
            box-shadow: none;
        }
       
    }
}

.notes-update-card {
    .modal-body {
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="checkbox"],
        .label {
            cursor: pointer;
        }

        .card-header {
            display: flex;
            align-items: center;
            gap: 10px;

        }
        
        .notes-wrapper {
            width: 100%;
            overflow: hidden;

            .note-wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                word-wrap: break-word;
            }
        }
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.custom-control-input {
    display: none;
}

.custom-control-label {
    padding-left: 25px;
}

.custom-control-input+.custom-control-label::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 9px);
    left: -1px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #B0C4DE;
    border-radius: .25rem;
}

.custom-control-input:checked+.custom-control-label::before {
    background-color: #fff !important;
    border: 2px solid #B0C4DE !important;
    background-image: url('/images/custom_checkbox_check_icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}