@media screen and (max-width: 680px) {
    .closedReadyDayPlan_day-info-header {
        grid-template-columns: 1fr 1fr !important;
        grid-row-gap: 5px;
        line-height: normal;
        
        >div {
            min-height: 23.2px;
        }

        .closedReadyDayPlan_header-finished {
            text-align: left !important;
        }

        .closedReadyDayPlan_day-info-header-date {
            grid-column: 1/3;
        }

        .closedReadyDayPlan_day-info-header-status {
            text-align: right;
        }
    }
}

@media screen and (max-width: 625px) {
    .closedReadyDayPlan_day-info-header {
        padding: 12px;
        font-size: 1.1rem;

        >div {
            min-height: 20.8px;
        }

        .closedReadyDayPlan_header-text {
            display: grid;
            grid-template-columns: 80px 1fr;
        }

        .closedReadyDayPlan_day-info-header-status {
            grid-column: 1/3;
            grid-row: 2/3;
            text-align: left !important;
        }
    }
}