@media screen and (max-width: 1225px) {

    .container {
        max-width: 90%;
    }

    .cards_cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 500px);
        justify-content: center;

        div {
            max-width: 100%;
        }
    }
}