html {
    height: 100%;
}
/* тут прибит футер */
.root {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}
/* ------------- */

/* желательно перенести (min-height 100vh висит на body и на корневом узле)*/
.v-application--wrap {
  min-height: 0vh !important;
}
/* ------------- */

.navbar {
    background-color: rgb(34,34,34);
    font-family: 'Lato', sans-serif;
}

.navbar .container {
    min-height: 69px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 29px;
    font-weight: 700;
    transition: all ease .3s;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #4fc1f0;
}

.navbar-nav.ml-auto {
    gap: 12px;
}

.nav-menu-sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    animation: .4s stickyMenuAppearance ease;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
    background-color: rgba(34, 34, 34, 0.97) !important;
}


 .nav-menu-sticky .container {
    position: relative;
    z-index: 10000;
 }

 /* бургер меню */

    .navbar-light .navbar-toggler {
        border-color: #fff;
    }

    /* изменен цвет самого бургера на белый */
    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    /* изменен цвет самого бургера на белый */

    #navbarSupportedContent {
        transition: all ease .3s;
    }
    #navbarSupportedContent.show {
        margin-top: 12px;
    }
    /*фикс бага с переполнение контента при очень длинном юзер нейме*/
    #navbarDropdown {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #navbarDropdown .navbar-user-name {
        max-width: 300px;
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap;
    }

    @media screen and (max-width: 950px) {
        #navbarDropdown .navbar-user-name {
            font-size: 12px;
            max-width: 250px;
        }
    }

    @media screen and (max-width: 900px) {
        #navbarDropdown .navbar-user-name {
            max-width: 150px;
        }
    }

    @media screen and (max-width: 790px) {
        .navbar-nav.ml-auto {
            gap: 6px !important;
        }
    }

    @media screen and (max-width: 767px) {
        #navbarDropdown .navbar-user-name {
            font-size: 15px;
            max-width: 450px;
        }
    }

    @media screen and (max-width: 650px) {
        #navbarDropdown .navbar-user-name {
            max-width: 300px;
        }
    }

    @media screen and (max-width: 450px) {
        #navbarDropdown .navbar-user-name {
            font-size: 12px;
            max-width: 200px;
        }
    }

 /* бургер меню */

.main {
    overflow: hidden;
    max-width: 100%;
    min-height: calc(100vh - 85px);
}

/*---футер----*/

.footer {
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.footer-container {
    padding: 8px !important;
}

.footer-link {
    transition: all ease .3s;
    text-decoration: none !important;
    color: #fff;
}

.footer-link:hover,
.footer-link:focus {
    color: #4fc1f0;
}

.footer-top {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.footer-top .footer-top_brand {
    font-size: 17px;
    line-height: 29px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.footer-top .footer-top_slogan-list {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    line-height: 25px;
    font-weight: normal;
    font-size: 16px;
    text-transform: none;
    text-align: center;
}

.footer-border {
    width: 100%;
    background-color: #fff;
    height: 1px;
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 29px;
    font-weight: 700;
}

.footer-bottom .footer-bottom_main-info,
.footer-bottom .footer-bottom-mail {
    font-size: 15px;
    line-height: 29px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-bottom_info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-bottom-mail a {
    /* color: #4fc1f0; */
    color: #fff;
    text-decoration: none;
}

.footer-bottom_list {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

@media screen and (max-width: 1100px) {

    .footer-bottom {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
    }

    .footer-bottom .footer-bottom_info, 
    .footer-bottom .footer-bottom_list {
        justify-content: center;
    }
}

@media screen and (max-width: 720px) {
    .footer-bottom {
        font-size: 16px;
        line-height: 25px;
        font-weight: 700;
    }

    .footer-bottom_info {
        font-size: 14px;
    }

    .footer-bottom_list {
        display: grid;
        grid-row-gap: 0;
        grid-column-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 550px) {
    .footer-bottom_list {
        grid-template-columns: 1fr 1fr;
    }
    .footer {
        padding: 10px;
    }

    .footer-top {
        padding: 50px 0 10px;
    }
    .footer-bottom {
        padding: 10px 0 50px;
    }

    .footer-top .footer-top_slogan-list {
        flex-direction: column;
        font-size: 14px;
        line-height: 29px;
        text-transform: uppercase;
        gap: 0;
    }
}

@media screen and (max-width: 450px) {
    /* .footer-bottom_list .footer-list-li:nth-child(1), 
    .footer-bottom_list .footer-list-li:nth-child(4) {
        justify-self: flex-start;
    }
    
    .footer-bottom_list .footer-list-li:nth-child(2), 
    .footer-bottom_list .footer-list-li:nth-child(5) {
        justify-self: center;
    }
    
    .footer-bottom_list .footer-list-li:nth-child(3), 
    .footer-bottom_list .footer-list-li:nth-child(6) {
        justify-self: flex-end;
    } */

    
}

/*---футер----*/

/*----блок с результатми в хедере---*/
#total-results {
    box-shadow: rgb(255 43 43) 0px 0px 30px;
    background-color: rgb(88, 0, 0);
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 3.5px 3.5px 3.5px 6px;
    border-radius: 10px;
}
/*----блок с результатми в хедере---*/

/*----при открытии модалок появляется странный паддинг---*/

body {
    padding-right: 0 !important;
}

/*----при открытии модалок появляется странный паддинг---*/


/*----вероятно удалить---*/
.move-right {
    opacity: 1;
    transform: translate(100px, 0);
    -webkit-transform: translate(100px, 0); /** Chrome & Safari **/
    -o-transform: translate(100px, 0); /** Opera **/
    -moz-transform: translate(100px, 0); /** Firefox **/
}

.move-left {
    opacity: 1;
    transform: translate(-100px, 0);
    -webkit-transform: translate(-100px, 0); /** Chrome & Safari **/
    -o-transform: translate(-100px, 0); /** Opera **/
    -moz-transform: translate(-100px, 0); /** Firefox **/
}
/*----------------*/


/* ====================== */

@keyframes stickyMenuAppearance {
    from { opacity: 0; transform: translate3d(0, -100%, 0)}
    to { opacity: 1; top: 0; transform: none;}
}

/* ====================== */
/* Cтили для прелоадера основного */
#main_preloader_wrapper {
    min-height: 100vh;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: #F5F5F5;
}

#main_preloader{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
#main_preloader:before,
#main_preloader:after{
    content: "";
    width: 100%;
    height: 100%;
    border-width: 50px;
    border-style: double;
    border-color: transparent;
    border-right-color: transparent;
    border-right-color: #A10000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    animation: spin 1s infinite;
    animation-delay: -0.25s;
}
#main_preloader:after{
    left: 0;
    border-right-color: transparent;
    border-left-color: #A10000;
    animation: spin 1s infinite;
    animation-delay: 0;
}
@keyframes spin{ 
    0%{ transform: rotate(360deg);} 
}

/* ====================== */

/* ==========активатр для боковых кнопок ========== */

.aside-buttons-activator-wrapper {
    height: 50px;
    width: 50px;
    background-color: rgba(34, 34, 34, 0.97);
    z-index: 19;
    position: fixed;
    right: 0;
    bottom: 3%;
    border-radius: 50%;
    display: none;
}

.aside-buttons-activator-wrapper::after {
    content: "...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67%);
    font-size: 2.5rem;
    color: #fff;
}

@media screen and (max-width: 450px) {
    .aside-buttons-activator-wrapper {
        display: block;
    }

    .aside-buttons-activator-wrapper.active::after   {
        display: none;
    }

    .aside-buttons-activator-wrapper.active {
        background-image: url('/images/asideActivator_close_icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
    }
}

/* ==========активатр для боковых кнопок ========== */


/* ==========addLog-модалка ========== */
#AddbacklogModal .modal-dialog {
    max-width: 500px;
    position: absolute ;
    top: calc(50% - 265px) ;
    left: calc(50% - 250px);
    margin: 0;
}

@media screen and (max-width: 531px) {
    #AddbacklogModal .modal-dialog {
        max-width: 450px;
        left: calc(50% - 225px);
    }
}

@media screen and (max-width: 460px) {
    #AddbacklogModal .modal-dialog {
        max-width: 400px;
        left: calc(50% - 200px);
    }
}

@media screen and (max-width: 424px) {
    #AddbacklogModal .modal-dialog {
        max-width: 100%;
        left: 0;
    }
}

/* ==========sendFeedback-модалка ========== */

@media screen and (max-width: 700px) {
    .main-wrapper  {
        top: calc(50% - 264px);
        left: calc(50% - 192px);
        bottom: auto !important;
        border-radius: 17px;
        overflow: hidden;
        box-shadow: 2px 1px 11px black;
    }
}

@media screen and (max-width: 424px) {
    .main-wrapper  {
        left: 0;
        width: 100% !important;
        border-radius: 0;
    }
}

/* ==========sendFeedback-модалка ========== */
