.settings-table-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 25px;
}
.settings-table-wrapper .settings-table-tabs-wrapper {
  min-width: 150px;
}
.settings-table-wrapper .settings-table-tabs-wrapper #v-pills-tab {
  gap: 5px;
}
.settings-table-wrapper .settings-table-tabs-wrapper #v-pills-tab a[role=tab] {
  text-align: center;
}

#infoModal .modal-dialog,
#noteModal .modal-dialog,
#updateModal .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.personal-settings-wrapper .card {
  box-shadow: 1px 1px 4px #C0C0C0;
}
.personal-settings-wrapper .personal-settings-title {
  text-align: center;
}
.personal-settings-wrapper .personal-settings-card-body {
  width: 80%;
  margin: 0 auto;
}
.personal-settings-wrapper .personal-settings-card-body .form-row {
  justify-content: center;
}

.personal-settings-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.personal-settings-label-wrapper .personal-settings-label {
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.personal-settings-select {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
}
.personal-settings-select:focus {
  outline: none;
  box-shadow: none;
}
