body {
  font-family: "Roboto", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

.settings-table-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 25px;
}
.settings-table-wrapper .settings-table-tabs-wrapper {
  min-width: 150px;
}
.settings-table-wrapper .settings-table-tabs-wrapper #v-pills-tab {
  gap: 5px;
}
.settings-table-wrapper .settings-table-tabs-wrapper #v-pills-tab a[role=tab] {
  text-align: center;
}

#infoModal .modal-dialog,
#noteModal .modal-dialog,
#updateModal .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.personal-settings-wrapper .card {
  box-shadow: 1px 1px 4px #C0C0C0;
}
.personal-settings-wrapper .personal-settings-title {
  text-align: center;
}
.personal-settings-wrapper .personal-settings-card-body {
  width: 80%;
  margin: 0 auto;
}
.personal-settings-wrapper .personal-settings-card-body .form-row {
  justify-content: center;
}

.personal-settings-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.personal-settings-label-wrapper .personal-settings-label {
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.personal-settings-select {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
}
.personal-settings-select:focus {
  outline: none;
  box-shadow: none;
}

.saved-tasks-table {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}
.saved-tasks-table th, .saved-tasks-table td {
  text-align: center;
  word-break: break-all;
  vertical-align: middle !important;
}
.saved-tasks-table .saved-tasks-table-head {
  font-size: 1rem;
  text-shadow: 1px 1px 1px black;
}
.saved-tasks-table .buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.saved-tasks-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.saved-tasks-table tbody tr {
  cursor: pointer;
  transition: all 0.3s ease;
}
.saved-tasks-table tbody tr:hover {
  background-color: #d9d9d9 !important;
}
.saved-tasks-table tbody .btn:focus,
.saved-tasks-table tbody .btn:active {
  outline: none;
  box-shadow: none;
}

.notes-update-card .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notes-update-card .modal-body input[type=checkbox],
.notes-update-card .modal-body .label {
  cursor: pointer;
}
.notes-update-card .modal-body .card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.notes-update-card .modal-body .notes-wrapper {
  width: 100%;
  overflow: hidden;
}
.notes-update-card .modal-body .notes-wrapper .note-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-wrap: break-word;
}
.notes-update-card .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
