.settings-sidebar-btn {
  background: orange;
  background-size: 24px 24px;
  border-bottom-right-radius: 5px;
  background-color: #333333 !important;
  display: block;
  position: fixed;
  padding: 2rem 0.4rem;
  z-index: 1;
  border: none;
  left: 0;
  top: calc(50% - 12px);
  width: 1.6rem;
}

.settings-sidebar-btn-visible {
  display: block !important;
}

.sidebar-mobile {
  position: fixed;
  height: 100%;
  z-index: 2;
  top: 0;
  left: -600px;
  width: 240px;
  padding: 20px;
  background-color: #efefe7;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 4px #888888;
}

.sidebar-mobile-visible {
  left: 0;
}

@media screen and (max-width: 1265px) {
  #v-pills-tabContent {
    grid-column: 1/3;
  }
}
