@media screen and (max-width: 900px) {
  .comment-wrapper {
    width: 80% !important;
  }
}
@media screen and (max-width: 680px) {
  .closedReadyDayPlan_day-info-header {
    grid-template-columns: 1fr 1fr !important;
    grid-row-gap: 5px;
    line-height: normal;
  }
  .closedReadyDayPlan_day-info-header > div {
    min-height: 23.2px;
  }
  .closedReadyDayPlan_day-info-header .closedReadyDayPlan_header-finished {
    text-align: left !important;
  }
  .closedReadyDayPlan_day-info-header .closedReadyDayPlan_day-info-header-date {
    grid-column: 1/3;
  }
  .closedReadyDayPlan_day-info-header .closedReadyDayPlan_day-info-header-status {
    text-align: right;
  }
}
@media screen and (max-width: 625px) {
  .closedReadyDayPlan_day-info-header {
    padding: 12px;
    font-size: 1.2rem;
  }
  .closedReadyDayPlan_day-info-header > div {
    min-height: 22.4px;
  }
  .closedReadyDayPlan_day-info-header .closedReadyDayPlan_header-text {
    display: grid;
    grid-template-columns: 100px 1fr;
  }
  .closedReadyDayPlan_day-info-header .closedReadyDayPlan_day-info-header-status {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: left !important;
  }
}
@media screen and (max-width: 550px) {
  .day-info-list {
    min-height: 331.5px !important;
  }

  .missed-day-text {
    font-size: 1.8rem !important;
    text-align: center;
  }
  .missed-day-text .br {
    display: initial !important;
  }

  .closedReadyDayPlan_dayInfoList-existing-day {
    font-size: 1.2rem;
  }
  .closedReadyDayPlan_dayInfoList-existing-day .v-list-item::after {
    display: none;
  }
  .closedReadyDayPlan_dayInfoList-existing-day .closeReadyDayPlan_comment-text {
    font-style: italic;
    font-size: 1rem;
  }
  .closedReadyDayPlan_dayInfoList-existing-day .closeReadyDayPlan_comment-text-wrapper {
    min-height: 210px;
    align-items: flex-start !important;
  }

  .comment-wrapper {
    width: 100% !important;
  }
}
@media screen and (max-width: 450px) {
  .closedReadyDayPlan_day-info-header {
    grid-template-columns: 1fr !important;
  }
  .closedReadyDayPlan_day-info-header .closedReadyDayPlan_header-text {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  .closedReadyDayPlan_day-info-header .closedReadyDayPlan_header-text span:nth-child(2) {
    text-align: right !important;
  }
  .closedReadyDayPlan_day-info-header .closedReadyDayPlan_header-finished .closedReadyDayPlan_header-text {
    grid-template-columns: 1fr !important;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .closedReadyDayPlan_dayInfoList-existing-day .v-list-item {
    grid-template-columns: 1fr 1fr !important;
  }

  .closedReadyDayPlan_dayInfoList-existing-day .day-info_list-item-content-wrapper .day-info_list-item-content {
    text-align: right;
  }
  .closedReadyDayPlan_dayInfoList-existing-day .comment-wrapper {
    grid-template-columns: 1fr !important;
  }
  .closedReadyDayPlan_dayInfoList-existing-day .comment-wrapper .v-list-item__content.key {
    justify-content: center !important;
  }

  .mark-wrapper .key {
    display: flex !important;
    justify-content: flex-start !important;
  }
  .mark-wrapper .key span {
    flex-grow: 1;
    text-align: left !important;
  }
}
