.slider-wrapper {
    height: calc(100vh - 85px);
    width: 100vw;
    position: relative;

    .slide {
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all ease .6s;
        left: 0;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

            &.slide-one {
                background-image: url("/images/index_page/home_slider1.jpg");
            }

            &.slide-two {
                background-image: url("/images/index_page/home_slider2.jpg");
            }

            &.slide-three {
                background-image: url("/images/index_page/home_slider3.jpg");
            }

            &::before {
                content: "";
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.6);
            }

            .slide-content {
                position: relative;
                z-index: 10;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 100%;

                .slide-content_inner-block {
                    margin-top: 165px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;

                    .slide-content-subtitle {
                        font-family: "Dosis",sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 0.3em;
                        line-height: 1.2;
                        text-transform: uppercase;
                    }

                    .slide-content-title {
                        font-family: "Lato",sans-serif;
                        font-size: 45px;
                        font-weight: 700;
                        letter-spacing: 0.3em;
                    }
                }
            }
    }

    .slider-arrow {
        padding: 15px 25px;
        background-color: orange;
        position: absolute;
        top: 0;
        z-index: 1000;
        top: calc(50vh - 15px);
        
        &.slider-left-arrow-wrapper {
            right: 55px;
        }
    }
}