.slider-wrapper {
    height: 100vh;
    width: 100vw;
    position: relative;

    .slide {
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all ease .6s;
        left: 0;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

            &.slide-one {
                background-image: url("/images/index_page/home_slider1.jpg");
            }

            &.slide-two {
                background-image: url("/images/index_page/home_slider2.jpg");
            }

            &.slide-three {
                background-image: url("/images/index_page/home_slider3.jpg");
            }

            &::before {
                content: "";
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.6);
            }
    }

    .slider-arrow {
        padding: 15px 25px;
        background-color: orange;
        position: absolute;
        top: 0;
        z-index: 1000;
        top: calc(50vh - 15px);
        
        &.slider-left-arrow-wrapper {
            right: 55px;
        }
    }
}