$maxContentWidth740: 450px;
$maxContentWidth520: 420px;
$maxContentWidth480: 270px;

@media screen and (max-width: 1225px) {

    .slider-wrapper {
        .slide {
            .slide-content {
                padding: 0 50px;
            }
        }
    }

    .about-us-wrapper {
        padding: 0 50px;
        width: 100%;
        justify-content: space-between;
        grid-template-columns: minmax(auto, 570px) auto;

        .about-us-img-wrapper {
            min-width: 370px;

        }
    }
    
    .our-advantages-wrapper {
        
        padding: 0 50px;
        .our-advantages-content {
            width: 100%;
            grid-template-columns: repeat(auto-fill, 290px);
        } 
    }

    .statistics-section {

        padding: 0 50px;

        .statistics-content {
            grid-template-columns: repeat(auto-fill, 240px);
        }
    }

    .quotes-section {
        .quotes-wrapper {
            padding: 0 50px;

            .quotes-content {
                padding: 35px 0;
            }
        }

    }

}

@media screen and (max-width: 1075px) {
    .slider-wrapper {
        min-height: 690px;
        .slide {
            .slide-content {
                padding: 0 130px;

                .slide-content-3d-title {
                    max-width: 700px;
                    text-align: center;
                }
            }
        }

        .slide-three {
            .slide-content {
                .slide-content_inner-block {
                    .slide-three-content {
                        .slide-content-text-wrapper {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .statistics-section {

        padding: 0 130px;

        .statistics-content {
            grid-template-columns: repeat(auto-fill, 185px);
        }
    }

    .quotes-section {
        .quotes-wrapper {
            padding: 0 130px;
        }
    }
}

@media screen and (max-width: 1035px) {
    .slider-wrapper {
        .slide-one {
            .slide-one-list {
                min-height: 0;
            }
        }
    }

    .about-us-wrapper {
        padding: 0 130px;
        grid-template-columns: 1fr;
        .about-us-text-wrapper {
            grid-column: 1/3;
            margin-bottom: 35px;
        }

        .about-us-img-wrapper {
            min-width: auto;
            max-width: 90%;
            min-height: 397px;
        }
    }

    .our-advantages-wrapper {
        
        padding: 0 130px;
        .our-advantages-content {
            width: 100%;
            grid-template-columns: repeat(auto-fill, 345px);
            justify-content: center;
        } 
    }

    .statistics-section {
        justify-content: space-between;

        .statistics-content {
            grid-template-columns: minmax(auto, 265px) minmax(auto, 265px);
        }
    }
}

@media screen and (max-width: 980px) {

    .about-us-wrapper {
        padding: 0 50px;
    }

    .our-advantages-wrapper {
        padding: 0 50px;
    }

    .statistics-section {

        padding: 0 50px;
    }

    .quotes-section {
        .quotes-wrapper {
            padding: 0 50px;
        }
    }
}

@media screen and (max-width: 824px)  {
    .our-advantages-wrapper {
        
        .our-advantages-content {
            grid-template-columns: repeat(auto-fill, 305px);
        } 
    }
}

@media screen and (max-width: 810px) {
    .slider-wrapper {
        .slide {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-title {
                        font-size: 26px;
                    }

                    .slide-content-subtitle {
                        font-size: 24px;
                    }
                }
            }
        }

        .slide-one {
            .slide-one-list {
                .slide-one-li {
                    &:nth-child(even) {
                        align-self: flex-start;
                    }
                }
            }
        }

        .slide-two {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-text-wrapper {
                        gap: 35px;
                    }
                }
            }
        }
    }

    .quotes-section {
        .quotes-wrapper {
            .quotes-content {
                .quotes-list-wrapper {
                    .quotes-list {
                        .quotes-li {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 775px) {
    .slide-three {
        .slide-content {
            .slide-content_inner-block {
                .slide-three-content {
                    .slide-content-text-wrapper {
                        .subtitle-third-slide {
                            &:nth-child(2) {
                                .br {
                                    display: initial;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .slider-wrapper {
        .slide-two {
            .slide-two-list {
                .slide-two-li {
                    &:nth-child(1) {
                        .br {
                            display: initial;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px)  {
    .our-advantages-wrapper {
        
        .our-advantages-content {
            grid-template-columns: repeat(auto-fill, 305px);
        } 
    }
}

@media screen and (max-width: 750px)  {
    .slider-wrapper {
        min-height: 820px;
    }
}

@media screen and (max-width: 740px) {
    .slider-wrapper {
        .slide {
            .slide-content {
                .slide-content_inner-block {
                    max-width: $maxContentWidth740;
                }
            }
        }
    }

    .slider-wrapper {
        .slide-two {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-text-wrapper {
                        .slide-content-title {
                            text-align: center;
                            .red-text {
                                font-size: 34px;
                            }
                        }

                        .slide-two-content {
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    
    .about-us-section {
        .inner-block {
            padding-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .about-us-wrapper {
                padding: 0;
                max-width: $maxContentWidth740;

                .about-us-img-wrapper {
                    max-width: 100%;
                    min-height: 270px;
                }
            }
        }
    }

    .our-advantages-wrapper {
        
        .our-advantages-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .our-advantages-item {
                max-width: $maxContentWidth740;
                min-height: 220px;
            }
        } 
    }

    .statistics-section {
        .inner-block {
            display: flex;
            justify-content: center;
        }

        .statistics-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .statistics-item {
                max-width: $maxContentWidth740;
            }
        }
    }

    .philosofy-inner-block {
        .philosofy-wrapper {
            .philosofy-slider-wrapper {
                max-width: $maxContentWidth740;
            }
        }
    }

    .quotes-section {
        .quotes-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            .quotes-content {
                max-width: $maxContentWidth740;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .slider-wrapper {
        .slide-two {
            .slide-two-list {
                .slide-two-li {
                    &:nth-child(4) {
                        .br {
                            display: initial;
                        }
                    }
                }
            }
        }
    }

    .about-us-wrapper {
        .about-us-title {
            text-align: center;
        }
    }
}

@media screen and (max-width: 690px) {
    .slider-wrapper {
        .slide-one {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-3d-title {
                        font-size: 40px;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 650px) {
    .slider-wrapper {
        .slide-one {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-3d-title {
                        .br {
                            display: initial;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 625px) {
    .slider-wrapper {
        min-height: 850px;
        .slide-two {
            .slide-two-list {
                .slide-two-li {
                    &:nth-child(1) {
                        .br {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .slider-wrapper {
        .slide-two {
            .slide-two-list {
                .slide-two-li {
                    &:nth-child(4) {
                        .br {
                            display: none;
                        }
                    }
                }
            }
        }
        .slide-three {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-buttons-wrapper {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .slider-wrapper {
        .slide {
            .slide-content {
                padding: 0 50px;
            }
        }

        .slider-left-arrow-wrapper {
            right: 3 !important;
        }

        .slide-one {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-3d-title {
                        .br {
                            display: none;
                        }
                    }
                }
            }
        }

        .slide-two {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-button-wrapper {
                        display: flex;
                        justify-content: center;
                    }

                    .slide-content-text-wrapper {
                        .slide-two-content {
                            .slide-two-list {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .philosofy-wrapper {
        .philosofy-slider-wrapper {
            .philosofy-slider {
                .philosofy-list {
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .slider-wrapper {
        min-height: 935px;
        .slide {
            .slide-content {
                padding: 0 60px;
                .slide-content_inner-block {
                    max-width: $maxContentWidth520;
                }
            }
        }

        .slide-one {
            background-position: top right;
        }

        .slide.slide-two {
            background-image: url("/images/index_page/home_slider2_mobile.jpg");
            background-position: 35%;

            &::before {
                background: rgba(0, 0, 0, 0.86);
            }
        }

        .slide.slide-three {
            background-image: url("/images/index_page/home_slider3_mobile.jpg");
            background-position: left;
        }
    }


    .about-us-section {
        .inner-block {
            .about-us-wrapper {
                max-width: $maxContentWidth520;
            }
        }
    }

    .our-advantages-wrapper {
        .our-advantages-content {
            .our-advantages-item {
                max-width: $maxContentWidth520;
            }
        } 
    }

    .statistics-section {
        .statistics-content {
            .statistics-item {
                max-width: $maxContentWidth520;
            }
        }
    }

    .philosofy-inner-block {
        .philosofy-wrapper {
            .philosofy-slider-wrapper {
                max-width: $maxContentWidth520;
            }
        }
    }

    .quotes-section {
        .quotes-wrapper {
            max-height: 550px;
            .quotes-content {
                max-width: $maxContentWidth520;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .mobile-inner-block {
        max-width: 90% !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .slider-wrapper {
        min-height: 700px;
        .slide {
            .slide-content {
                padding: 0;
                .slide-content_inner-block {
                    gap: 30px;
                    max-width: 90%;
                    padding-left: 12px;
                    padding-right: 12px;
                    .slide-content-text {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }

        .slide-one {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-3d-title {
                        font-size: 35px;
                        line-height: 47px;
                    }
                }
            }
        }

        .slide-three {
            .slide-content {
                .slide-content_inner-block {
                    .slide-three-content {
                        .slide-three-list {
                            padding-left: 0;
                        }
                    }
                }
            }
        }

        .slider-arrow.slider-left-arrow-wrapper {
            right: 0px;
        }
    }

    .about-us-section {
        .inner-block {
            .about-us-wrapper {
                max-width: 100%;
                display: flex;
                flex-direction: column;

                .about-us-title {
                    .br {
                        display: initial;
                    }
                }

                .about-us-text-wrapper {
                    .about-us-list {
                        padding-left: 0px;
                    }
                    .text-index-page {
                        text-align: justify;
                    }
                }

                .about-us-img-wrapper {
                    min-height: 190px;
                }
            }
        }
    }

    .our-advantages-section {
        .inner-block {
            display: flex;
            justify-content: center;
            .our-advantages-wrapper {
                padding: 0;
                max-width: 100%;
                .our-advantages-content {
                    .our-advantages-item {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .statistics-section {
        padding: 0;
        .inner-block {
            display: flex;
            justify-content: center;
            .statistics-content {
                max-width: 100%;
                
                .statistics-item {
                    max-width: 100%;
                }
            }
        }
    }

    .philosofy-inner-block {
        padding: 40px 12px;
        .philosofy-wrapper {
            .philosofy-slider-wrapper {
                max-width: 100%;
                width: 100%;
                .philosofy-slider {
                    .philosofy-slider-line {
                        .philosofy-slide {
                            .philosofy-slide-text {
                                font-size: 16px;
                                line-height: 30px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .quotes-section {
        .inner-block {
            .quotes-wrapper {
                max-height: 800px;
                .quotes-content {
                    max-width: 100%;
                    .quotes-list-wrapper {
                        .quotes-list {
                            .quotes-li {
                                font-size: 24px;
                                .quotes-text {
                                    line-height: 33px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .mobile-inner-block {
        max-width: 100% !important;
    }
    .slider-wrapper {
        .slide {
            .slide-content {
                .slide-content_inner-block {
                   max-width: 95%;
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .slider-wrapper {
        .slide {
            .slide-content {
                .slide-content_inner-block {
                    .slide-content-title {
                        font-size: 24px;
                    }

                    .slide-content-subtitle {
                        font-size: 22px;
                    }
                }
            }
        }
        
        .slide {
            .slide-three-list {
                .slide-three-li {
                    &:nth-child(1) {
                        .br {
                            display: initial;
                        }
                    }
                }

            }
        }

        .slide-three {
            .slide-content {
                .slide-content_inner-block {
                    .slide-three-content {
                        .slide-content-text-wrapper {
                            .slide-content-subtitle {
                                margin-bottom: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 380px) {
    .slider-wrapper {
        min-height: 720px;
    }
}