@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Inter&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$skipButtoncolor: #ff2b2b;
$nextButtonColor: rgb(100, 149, 237);

.custom-tooltip {
    min-width: 320px;
    font-size: 15px;
    animation: 1s show ease;
    font-family: "Roboto", sans-serif;

    .welcome-block {
        min-height: 160px;
        background-image: url("/images/welcome_block_background.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .introjs-tooltiptext {
        text-align: justify;
    }

    .introjs-bullets {
        margin-bottom: 0.7rem;
        ul {
            li {
                &:not(:last-child) {
                    margin-right: 5px;
                }
                a {
                    width: 0.8rem;
                    height: 0.8rem;
                }
            }
        }
    }

    .introjs-tooltipbuttons {
        .introjs-button {
            box-shadow: 2px 2px 4px black;
            font-size: 0.85rem;
            font-weight: 400;
            border-radius: 6px;
            border: none;
            text-shadow: 1px 1px 1px black;
            color: whitesmoke;
            min-width: 46.82px;
            text-align: center;
            font-family: "Inter", sans-serif;
        }

        .introjs-skipbutton {
            margin-right: 14px;
            background: rgb(161, 0, 0);
            opacity: 0.8;
            transition: opacity 0.3s ease-in;
            &:hover {
                opacity: 1;
            }
        }

        .introjs-prevbutton {
            margin-right: 7px;
        }

        .introjs-prevbutton,
        .introjs-nextbutton {
            transition: all 0.3s ease-in;
            color: #000000;
            text-shadow: 1px 1px 1px whitesmoke;
            &:hover {
                color: whitesmoke;
                text-shadow: 1px 1px 1px #000000;
                background: #5d76cb;
            }
        }
    }
}

.first-slide {
    background: -webkit-linear-gradient(
        225deg,
        rgb(197, 208, 230) 31%,
        rgb(100, 149, 237) 100%
    );
    background: -moz-linear-gradient(
        225deg,
        rgb(197, 208, 230) 31%,
        rgb(100, 149, 237) 100%
    );
    background: linear-gradient(
        225deg,
        rgb(197, 208, 230) 31%,
        rgb(100, 149, 237) 100%
    );
    min-width: 500px;
    border-radius: 1.2rem;
    padding: 15px;
    animation: gradient 10s ease infinite;
    background-size: 300% 300%;

    .introjs-tooltiptext {
        box-sizing: border-box;
        padding: 0 25px;
        font-weight: 400;
        font-size: 19px;
        line-height: 23.44px;
        color: #121212;
    }

    .introjs-bullets {
        ul {
            li {
                &:not(:last-child) {
                    margin-right: 7px;
                }
                a {
                    width: 1.1rem;
                    height: 1.1rem;
                    background: #eadebd;
                
                    &.active {
                        background: #5d76cb;
                    }
                    &:hover {
                        background: #5d76cb;
                    }
                }
            }
        }
    }

    .introjs-tooltipbuttons {
        .introjs-button {
            font-weight: 400;
            line-height: 20px;
            padding: 0.75rem 1.75rem;
            border-radius: 10rem;
            color: #fff;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 0.15rem;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            text-shadow: 1px 1px 1px black;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $skipButtoncolor;
                border-radius: 10rem;
                z-index: -2;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: darken($skipButtoncolor, 15%);
                transition: all 0.3s;
                border-radius: 10rem;
                z-index: -1;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .introjs-skipbutton {
            &:after {
                background-color: $skipButtoncolor;
            }

            &:before {
                background-color: darken($skipButtoncolor, 15%);
            }
        }

        .introjs-nextbutton {
            &:after {
                background-color: $nextButtonColor;
            }

            &:before {
                background-color: darken($nextButtonColor, 15%);
            }
        }
    }
}

.custom-tooltip__third-step {
    min-width: 320px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;

    .driver-popover-description {
        text-align: justify;
    }

    .custom-bullets {
        display: flex;
        justify-content: center;
        
        >ul {
            margin: 15px 0 15px;
            display: flex;
            list-style: none;
            gap: 7px;
            align-items: center;

            a {
                width: 0.8rem;
                height: 0.8rem;
                background: #ccc;
                border-radius: 10px;
                display: block;
                cursor: pointer;
                &.active {
                    background: #999;
                }

                &:hover {
                    background: #999;
                }
            }
        }
    }

    .driver-popover-footer {
        margin-top: 5px;
        .driver-popover-navigation-btns {
            gap: 14px;
            >button {
                box-shadow: 2px 2px 4px black;
                font-size: 0.85rem;
                font-weight: 400;
                border-radius: 6px;
                border: none;
                text-shadow: 1px 1px 1px black;
                background: #ececec;
                min-width: 46.82px;
                text-align: center;
                font-family: "Inter", sans-serif;
                padding: 4px 11px;
                min-width: 67.11px;
    
                &.driver-popover-prev-btn,
                &.driver-popover-next-btn {
                    transition: all 0.3s ease-in;
                    color: #000000;
                    text-shadow: 1px 1px 1px whitesmoke;
                        &:hover {
                            color: whitesmoke;
                            text-shadow: 1px 1px 1px #000000;
                            background: #5d76cb;
                        }
                }

                &.driver-popover-skip-button {
                    &:hover {
                        background: rgb(161, 0, 0);
                    }
                }

                &.custom-skip-button {
                    transition: all 0.3s ease-in;
                    color: whitesmoke;
                    text-shadow: 1px 1px 1px #000000;
                    background: #a10000;
                    opacity: 0.8;
                    transition: opacity 0.3s ease-in;
                    &:hover {
                        
                        opacity: 1;
                    }
                }
            }
        }
    }

    
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
