// сброс стилей
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

.inner-block {
    width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

.v-application--wrap {
    background-color: #f8fafc;
}

// .br {
//     display: none;
// }

.dataDeletionPolicy-link {
    text-decoration: underline;
}
  
.dataDeletionPolicy-section {
    padding-top: 12px;
    padding-bottom: 12px;
}
  
.dataDeletionPolicy-title {
    font-weight: bold;
}
    
.dataDeletionPolicy-main-title {
    font-size: 2rem;
}
    
.dataDeletionPolicy-section-title {
    font-size: 1.5rem;
}
    
.dataDeletionPolicy-section-subtitle {
    font-size: 1.2rem;
}
  
.dataDeletionPolicy-li {
    padding-bottom: 16px;
}