@media screen and (max-width: 600px) {
    .v-data-table>.v-data-table__wrapper .v-data-table__mobile-row {
        min-height: 36px !important;
    }
}

@media screen and (max-width: 550px) {
    .history_comment-value {
        font-style: italic;
    }
}

@media screen and (max-width: 450px) {
    .history_final-data-list {
        .history_final-data-li {
            &::after {
                display: none;
            }
            align-items: flex-start;
            display: grid;
            grid-column-gap: 20px;
            grid-template-columns: 80px 1fr;
        }
    }
}