@media screen and (max-width: 950px) {
  .preplanTasksTable_table-responsive {
    overflow-x: auto;
    white-space: nowrap;
  }
  .preplanTasksTable_table-responsive .preplanTasksTable_table-row {
    font-size: 16px;
  }
  .preplanTasksTable_table-responsive .preplanTasksTable_table-row td {
    font-size: inherit !important;
  }
  .preplanTasksTable_table-responsive .v-data-table__wrapper::-webkit-scrollbar {
    height: 16px;
    border-left: 1px solid #e6e6e6;
  }
  .preplanTasksTable_table-responsive .v-data-table__wrapper::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border: solid 3px #e6e6e6;
    border-radius: 7px;
  }
  .preplanTasksTable_table-responsive .v-data-table__wrapper::-webkit-scrollbar-thumb:hover {
    background: #a10000;
  }
}
@media screen and (max-width: 500px) {
  .container .plan_footer {
    margin-top: 10px;
    display: grid !important;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 5fr 1fr;
    height: auto !important;
  }
  .container .plan_footer > div {
    max-width: 100%;
  }
  .container .plan_footer .plan_alert-wrapper {
    grid-column: 1/4;
    grid-row: 1/2;
    min-height: 85px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .plan_footer .plan_emergency-mode-icon-wrapper {
    grid-column: 3/4;
  }
}
