@media screen and (max-width: 550px) {
    .date-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        .date-datePicker-wrapper {
            display: flex;
            justify-content: center;
        }
        .date-textField {
            grid-row: 1/2;
            padding-bottom: 0px;
        }
    }
}

@media screen and (max-width: 425px) {
    .emergencyCall_emergencyCall-dialog {
        .emergencyCall-card {
            .emergencyCall-header,
            .emergencyCall-content,
            .emergencyCall-footer {
                padding-left: 16px !important;
                padding-right: 16px !important;
            }
        }
    }
}