body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

.main {
  overflow: hidden;
  max-width: 100%;
}

.white-background {
  background-color: #fff;
}

.inner-block {
  max-width: 1170px;
  margin: 0 auto;
  padding: 90px 0;
}

.title-index-page {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  color: #444;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.text-index-page {
  font-weight: 400;
  line-height: 30px;
  font-family: "Lato", sans-serif;
  color: #444;
  margin-bottom: 0;
  font-size: 16px;
}

.br {
  display: none;
}

.progress-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 5px;
  z-index: 10000;
  background-color: #960018 !important;
  border-radius: 2px;
}

.slider-wrapper {
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  position: relative;
  box-shadow: 1px 1px 1px black;
}
.slider-wrapper .slide {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all ease 0.6s;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slider-wrapper .slide.slide-one {
  background-image: url("/images/index_page/home_slider1.jpg");
}
.slider-wrapper .slide.slide-two {
  background-image: url("/images/index_page/home_slider2.jpg");
}
.slider-wrapper .slide.slide-three {
  background-image: url("/images/index_page/home_slider3.jpg");
}
.slider-wrapper .slide::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.slider-wrapper .slide.slide-two::before {
  background: rgba(0, 0, 0, 0.75);
}
.slider-wrapper .slide.slide-three::before {
  background: rgba(0, 0, 0, 0.79);
}
.slider-wrapper .slide .slide-content {
  position: relative;
  z-index: 10;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
}
.slider-wrapper .slide .slide-content .slide-content_inner-block {
  padding-top: 40px;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
.slider-wrapper .slide .slide-content .slide-content_inner-block .slide-content-title {
  font-size: 28px;
  font-weight: 700;
  text-shadow: 1px 1px 4px black;
  color: #C2C2C2;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}
.slider-wrapper .slide .slide-content .slide-content_inner-block .slide-content-subtitle {
  font-size: 26px;
  font-weight: 700;
  text-shadow: 1px 1px 4px black;
  color: #C2C2C2;
  font-family: "Montserrat", sans-serif;
}
.slider-wrapper .slide .slide-content .slide-content_inner-block .slide-content-text {
  font-size: 20px;
  font-weight: 700;
  text-shadow: 1px 1px 4px black;
  color: #C2C2C2;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  line-height: 29px;
  color: #fff;
}
.slider-wrapper .slide .slide-content .slide-content_inner-block .slide-content-3d-title {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  letter-spacing: 3px;
  color: #C2C2C2;
  transform: perspective(1000px) rotateX(15deg) scale(1.07);
  text-shadow: 0 0 10px black, 0 1px 0 #808080;
}
.slider-wrapper .slider-arrow {
  height: 40px;
  width: 40px;
  background-color: orange;
  position: absolute;
  top: 0;
  z-index: 1000;
  top: calc(50% - 15px);
  transition: all 0.45s ease;
  opacity: 1;
  cursor: pointer;
  background: #03a9f4;
}
.slider-wrapper .slider-arrow .slider-left-icon {
  fill: #fff;
  transition: fill 0.45s ease;
}
.slider-wrapper .slider-arrow:hover, .slider-wrapper .slider-arrow:active, .slider-wrapper .slider-arrow:focus {
  background: #fff;
}
.slider-wrapper .slider-arrow:hover .slider-left-icon, .slider-wrapper .slider-arrow:active .slider-left-icon, .slider-wrapper .slider-arrow:focus .slider-left-icon {
  fill: #000000;
}
.slider-wrapper .slider-arrow.slider-left-arrow-wrapper {
  right: 55px;
}
.slider-wrapper .slider-arrow.slider-left-arrow-wrapper.transparent {
  opacity: 0;
}

.slider-wrapper .slide-one .slide-one-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  min-height: 366px;
}
.slider-wrapper .slide-one .slide-one-list .slide-one-li {
  opacity: 0;
  color: #fff;
}
.slider-wrapper .slide-one .slide-one-list .slide-one-li.slide-one-li-left {
  animation: 0.5s slide_one_left_appearance ease;
  opacity: 1;
}
.slider-wrapper .slide-one .slide-one-list .slide-one-li.slide-one-li-right {
  opacity: 1;
  animation: 0.5s slide_one_right_appearance ease;
}
.slider-wrapper .slide-one .slide-one-list .slide-one-li:nth-child(even) {
  align-self: flex-end;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 600px;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-button-wrapper {
  width: 100%;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-button-wrapper .yeap-button {
  line-height: 23px;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 700px;
  align-items: flex-end;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper .slide-content-title .red-text {
  color: #960018;
  font-size: 36px;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper .slide-content-subtitle {
  opacity: 0;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper .slide-content-subtitle.slide-content-subtitle-isshown {
  opacity: 1;
  animation: 0.5s slide_two_subtitle_appearance ease;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper .slide-two-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper .slide-two-content .slide-two-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper .slide-two-content .slide-two-list .slide-two-li {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 710px;
  grid-column-gap: 7px;
  opacity: 0;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper .slide-two-content .slide-two-list .slide-two-li.slide-one-li-left {
  animation: 0.5s slide_one_left_appearance ease;
  opacity: 1;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper .slide-two-content .slide-two-list .slide-two-li .slide-content-text {
  text-align: justify;
}
.slider-wrapper .slide-two .slide-content .slide-content_inner-block .slide-content-text-wrapper .slide-two-content .slide-two-list .slide-two-li .slide-content-text .red-text {
  color: #F80000;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  min-height: 366px;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-three-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-three-list .slide-three-li {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 550px;
  grid-column-gap: 7px;
  opacity: 0;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-three-list .slide-three-li.slide-one-li-left {
  animation: 0.5s slide_one_left_appearance ease;
  opacity: 1;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .smile-icon {
  width: 36px;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .smile-icon.smile-icon-sad {
  fill: #fff;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .smile-icon.smile-icon-cool {
  fill: #C2C2C2;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .title-third-slide {
  opacity: 0;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .title-third-slide.title-third-slide-isshown {
  opacity: 1;
  animation: 0.5s slide_two_subtitle_appearance ease;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .slide-content-subtitle {
  margin-bottom: 15px;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .slide-content-subtitle.subtitle-third-slide {
  opacity: 0;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .slide-content-subtitle.subtitle-third-slide.subtitle-third-slide-isshown {
  opacity: 1;
  animation: 0.5s slide_one_left_appearance ease;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .slide-content-subtitle .just-try-it-wrapper {
  position: relative;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .slide-content-subtitle .just-try-it-wrapper > a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .slide-content-subtitle .just-try-it-wrapper > a:hover {
  color: #F80000;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .slide-content-subtitle .just-try-it-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: #F80000;
  transition: width 0.3s ease-out;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .slide-content-subtitle .just-try-it-wrapper.just-try-it-wrapper-isLink::after {
  width: 100%;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-three-content .slide-content-text-wrapper .red-text {
  color: #F80000;
}
.slider-wrapper .slide-three .slide-content .slide-content_inner-block .slide-content-buttons-wrapper {
  display: flex;
  gap: 25px;
}

.yeap-button {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #3490dc;
  border-radius: 0.6em;
  color: #3490dc;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.yeap-button:hover, .yeap-button:focus {
  color: #fff !important;
  outline: 0;
}
.yeap-button:hover {
  box-shadow: 0 0 40px 40px #3490dc inset;
}

.sign-button {
  font-weight: 400;
  line-height: 20px;
  padding: 1.25rem 2.5rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-shadow: 1px 1px 1px black;
  font-family: "Montserrat", sans-serif;
}
.sign-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -2;
}
.sign-button.sing-in-button::after {
  background-color: #1d68a7;
}
.sign-button.sign-up-button::after {
  background-color: #1d44b8;
}
.sign-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.sign-button.sing-in-button::before {
  background-color: #3490dc;
}
.sign-button.sign-up-button::before {
  background-color: #4169E1;
}
.sign-button:hover:before {
  width: 100%;
}

.about-us-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 30px;
}
.about-us-wrapper .about-us-title-wrapper {
  grid-column: 1/3;
  display: flex;
}
.about-us-wrapper .about-us-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-us-wrapper .about-us-text-wrapper .about-us-list {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about-us-wrapper .about-us-text-wrapper .about-us-list .about-us-li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 8px;
  opacity: 0;
  transition: all 0.55s ease;
  transform: translateX(-10px);
}
.about-us-wrapper .about-us-text-wrapper .about-us-list .about-us-li.element-show {
  opacity: 1;
  transform: translateX(0);
}
.about-us-wrapper .about-us-text-wrapper .about-us-list .about-us-li .red-text {
  color: #960018;
}
.about-us-wrapper .about-us-img-wrapper {
  position: relative;
  min-width: 450px;
  min-height: 300px;
  box-shadow: 2px 2px 4px #444;
}
.about-us-wrapper .about-us-img-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.our-advantages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transition: all 0.55s ease;
  transform: translateX(-10px);
  width: 100%;
}
.our-advantages-wrapper .our-advantages-title_main {
  text-align: center;
}
.our-advantages-wrapper.element-show {
  opacity: 1;
  transform: translateX(0);
}
.our-advantages-wrapper .our-advantages-text-wrapper {
  margin-bottom: 40px;
}
.our-advantages-wrapper .our-advantages-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-column-gap: 30px;
  justify-content: space-between;
  grid-row-gap: 30px;
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item {
  padding: 20px;
  border: 2px solid #eee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
  opacity: 0;
  transition: all 0.55s ease;
  transform: translateX(-10px);
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item.element-show {
  opacity: 1;
  transform: translateX(0);
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item .our-advantages-icon-wrapper {
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item .our-advantages-icon-wrapper .our-advantages-icon {
  height: 45px;
  width: 45px;
  fill: #444;
  transition: fill 0.55s ease;
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item .our-advantages-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item .our-advantages-text .text-index-page {
  text-align: justify;
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item-focus {
  background-color: #5c1a1a;
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item-focus .our-advantages-icon-wrapper .our-advantages-icon {
  fill: #FFFAFA;
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item-focus .our-advantages-title {
  color: #FFFAFA;
}
.our-advantages-wrapper .our-advantages-content .our-advantages-item-focus .text-index-page {
  color: #FFFAFA;
}

.statistics-section {
  background-color: #5c1a1a;
}
.statistics-section .statistics-content {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-row-gap: 30px;
  justify-content: space-between;
}
.statistics-section .statistics-content .statistics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #fff;
  opacity: 0;
  transition: all 0.55s ease;
  transform: translateX(-10px);
  text-shadow: 1px 1px 1px black;
}
.statistics-section .statistics-content .statistics-item.element-show {
  opacity: 1;
  transform: translateX(0);
}
.statistics-section .statistics-content .statistics-item .statistics-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics-section .statistics-content .statistics-item .statistics-icon-wrapper .statistics-icon {
  height: 55px;
  width: 50px;
  fill: #fff;
}
.statistics-section .statistics-content .statistics-item .statistics-counter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics-section .statistics-content .statistics-item .statistics-counter-wrapper .statistics-counter {
  margin-bottom: 0;
  color: #fff;
  font-size: 40;
  font-weight: 300;
}
.statistics-section .statistics-content .statistics-item .statistics-text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 30px;
}

.philosofy-inner-block {
  max-width: 1170px;
  margin: 0 auto;
  padding: 90px 0;
}
.philosofy-inner-block .philosofy-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-title-wrapper .philosofy-title {
  margin-bottom: 0;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider {
  width: 100%;
  overflow: hidden;
  padding: 30px 0 45px;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider .philosofy-slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: all 0.4s ease;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider .philosofy-slider-line .philosofy-slide {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider .philosofy-slider-line .philosofy-slide .philosofy-slide-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  text-align: justify;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider .philosofy-slider-line .philosofy-slide .philosofy-list-wrapper {
  display: flex;
  justify-content: flex-start;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider .philosofy-slider-line .philosofy-slide .philosofy-list-wrapper .philosofy-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider .philosofy-slider-line .philosofy-slide .philosofy-list-wrapper .philosofy-list .philosofy-li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 7px;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider .philosofy-slider-line .philosofy-slide .philosofy-list-wrapper .philosofy-list .philosofy-li.element-animation {
  opacity: 0;
  transition: all 0.55s ease;
  transform: translateX(-10px);
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider .philosofy-slider-line .philosofy-slide .philosofy-list-wrapper .philosofy-list .philosofy-li.element-animation.element-show {
  opacity: 1;
  transform: translateX(0);
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider-buttons .philosofy-slider-button {
  width: 20px;
  height: 8px;
  background: rgba(0, 0, 0, 0.5);
}
.philosofy-inner-block .philosofy-wrapper .philosofy-slider-wrapper .philosofy-slider-buttons .philosofy-slider-button.philosofy-slider-active-button {
  background: #5c1a1a;
}

.quotes-section .quotes-wrapper {
  background-image: url("/images/index_page/quotes-wrapper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  box-shadow: 2px 2px 4px #444;
  z-index: 1;
  max-height: 500px;
}
.quotes-section .quotes-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
.quotes-section .quotes-wrapper .quotes-content {
  height: 100%;
  position: relative;
  z-index: 3;
  padding: 35px 45px;
}
.quotes-section .quotes-wrapper .quotes-content .quotes-list-wrapper {
  max-width: 650px;
  height: 100%;
}
.quotes-section .quotes-wrapper .quotes-content .quotes-list-wrapper .quotes-list {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.quotes-section .quotes-wrapper .quotes-content .quotes-list-wrapper .quotes-list .quotes-li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  opacity: 0;
  transition: all 0.55s ease;
  transform: translateX(-10px);
  text-shadow: 1px 1px 1px black;
}
.quotes-section .quotes-wrapper .quotes-content .quotes-list-wrapper .quotes-list .quotes-li.element-show {
  opacity: 1;
  transform: translateX(0);
}
.quotes-section .quotes-wrapper .quotes-content .quotes-list-wrapper .quotes-list .quotes-li .quotes-text {
  color: #eaf3f2;
  text-shadow: 1px 1px 1px #000000;
  font-size: inherit;
  line-height: 35px;
}
.quotes-section .quotes-wrapper .quotes-content .quotes-list-wrapper .quotes-list .quotes-li .quotes-author {
  font-size: inherit;
  color: #eaf3f2;
  text-shadow: 1px 1px 1px #000000;
  color: #ff8562;
  font-style: italic;
}

@keyframes slide_one_left_appearance {
  from {
    opacity: 0;
    transform: translateX(-130px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide_one_right_appearance {
  from {
    opacity: 0;
    transform: translateX(130px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide_two_subtitle_appearance {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
